@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  body {
    @apply font-primary text-base font-normal mx-auto;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    max-width: 1440px;
  }
  input {
    @apply outline-none;
  }
}

input:focus + .error-input {
  display: none;
}

.quill {
  @apply border border-strock rounded-xl text-center px-[25px] py-[15px];
  .ql-toolbar.ql-snow {
    @apply bg-text4 bg-opacity-10 rounded-xl py-3 px-5 inline-block mx-auto border-none;
  }
  .ql-container.ql-snow,
  .ql-editor {
    @apply border-none font-primary text-sm;
  }
  .ql-editor {
    @apply py-10;
  }
  .ql-editor.ql-blank::before {
    @apply not-italic text-sm text-text4;
  }
}

.gradient-banner {
  background-image: linear-gradient(
      179.14deg,
      rgba(32, 18, 63, 0) -7.14%,
      rgba(0, 0, 0, 0.4) 87.01%
    ),
    url("https://images.unsplash.com/photo-1594122230689-45899d9e6f69?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA==");
}

.shadow-1 {
  box-shadow: -4px 4px 8px rgba(226, 226, 226, 0.2),
    4px 4px 8px rgba(226, 226, 226, 0.2);
}

.ReactModal__Body--open {
  overflow: hidden;
}

.scroll-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scroll-hidden::-webkit-scrollbar {
  display: none;
}

// custom date picker
body {
  .react-date-picker {
    @apply w-full px-6 py-4 text-sm font-medium border rounded-xl placeholder:text-text4 dark:placeholder:text-text2 dark:text-white bg-transparent border-strock text-text1 dark:border-darkStroke;
    height: 54px;

    .react-date-picker__wrapper {
      @apply border-none justify-between items-center;

      .react-date-picker__inputGroup {
        min-width: 0;
        flex-grow: 0;
      }

      .react-date-picker__clear-button {
        display: none;
      }

      .react-date-picker__button {
        padding: 0;
      }
    }
  }

  .react-calendar {
    @apply border-none shadow rounded-lg;
  }

  .react-calendar__navigation button:enabled:hover,
  .react-calendar__navigation button:enabled:focus {
    @apply bg-transparent;
  }

  .react-calendar__tile:not(
      .react-calendar__tile--active,
      .react-calendar__tile--now
    ):enabled:hover,
  .react-calendar__tile:not(
      .react-calendar__tile--active,
      .react-calendar__tile--now
    ):enabled:focus {
    @apply bg-transparent text-primary;
  }

  .react-calendar__tile--active:enabled:hover,
  .react-calendar__tile--active:enabled:focus,
  .react-calendar__tile--active,
  .react-calendar__tile--active:hover {
    @apply bg-primary text-white rounded-xl;
  }

  .react-calendar__tile--now:enabled:hover,
  .react-calendar__tile--now:enabled:focus,
  .react-calendar__tile--now,
  .react-calendar__tile--now:hover {
    @apply text-white bg-secondary rounded-xl;
  }
}
